* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: pretty;
}

.Main-text {
  text-align: center;
}

.logo {
  position: absolute;
  width: 200px;
}

img {
  width: 100%;
  height: auto;
}

.header-photo {
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-image: url("../images/Japan-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px 20px 0px 0px;
}

.background-photo {
  background-color: red;
 
}

/*Toimi NYT EN HALUA PELLEILLÄ TÄN KANSSA ILLALLA*/

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #223842;
  position: sticky;
  margin-left: 15%;
  margin-right: 15%;
  top: 0;
  border-radius: 0px 0px 20px 20px;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #63b1d7;
}

ul li a.active {
  background-color: #4197c0;
}

.main-background {
  overflow: auto;
}

.Photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 !important;
}

.gallery-item {
  width: 400px;
}

.title {
  text-align: center;
}

.Star-reviews {
  display: flex;
  justify-content: left;
}

.checked {
  color: orange;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogPost img {
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}

.container > * {
  border-bottom: 2px solid black;
  padding: 20px;
}

.history {
  display: flex;
  justify-content: center;
}

.years {
  width: 600px;
}

.explain {
  display: flex;
  justify-content: center;
}

.Anwers {
  width: 600px;
}

.blogPost {
  display: flex;
  justify-content: center;
}

.post {
  width: 600px;
}

.self-photo img{
  height: 200px;
}

textarea {
  height: 200px;
  resize: none;
}

form {
  min-width: 350px;
  max-width: 700px;
  width: 80vw;
}

.blurred p{
  filter: blur(3px);
}

.text-with-photo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.text-with-photo h1 {
  text-align: center;
}

.text-with-photo img{
  width: auto;
  float: left;
  margin-right: 20px;
}

.Social-medias {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
}

.fa:hover {
  opacity: 0.5;
}

input, textarea {
  padding: 10px 10px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1lh;
}

input[type="submit"]{
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bolder;
}

@media (max-width: 730px) {
  
      .text-with-photo {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .text-with-photo img {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        height: auto;
        float: none;
      }

      .container {
        margin-left: 10px;
        margin-right: 10px;
      }

      .header-photo {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
      }

      ul {
        margin-left: 0;
        margin-right: 0;
        position: sticky;
        top: 0;
      }
}
