* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*
    border: 1px solid red;
    */
}

.logo {
  position: absolute;
  width: 200px;
}

img {
  width: 100%;
  height: auto;
}

.header-photo {
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.background-photo {
  background-color: red;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px 20px 0px 0px;
}

/*Toimi NYT EN HALUA PELLEILLÄ TÄN KANSSA ILLALLA*/

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #223842;
  position: sticky;
  margin-left: 15%;
  margin-right: 15%;
  top: 0;
  border-radius: 0px 0px 20px 20px;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #63b1d7;
}

ul li a.active {
  background-color: #4197c0;
}

.main-background {
  overflow: auto;
}

.Photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 !important;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogPost img {
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}

.container > * {
  border-bottom: 2px solid black;
  padding: 20px;
}

.history {
  display: flex;
  justify-content: center;
}

.years {
  width: 600px;
}

.explain {
  display: flex;
  justify-content: center;
}

.Anwers {
  width: 600px;
}

.blogPost {
  display: flex;
  justify-content: center;
}

.post {
  width: 600px;
}

textarea {
  height: 200px;
  width: 700px;
  resize: none;
}

.text-with-photo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.text-with-photo img{
  width: auto;
  float: left;
  margin-right: 20px;
}

.Social-medias {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: 2px solid red;
  border-radius: 15px;
}

footer {
  text-align: center;
  padding: 20px;
}

.fa:hover {
  opacity: 0.5;
}

@media (max-width: 730px) {
  
      textarea {
        width: 350px;
        background-color: blue;
      }

      .text-with-photo {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .text-with-photo img {
        margin-right: 0;
        width: 100%;
      }

      .container {
        margin-left: 10px;
        margin-right: 10px;
      }

      .background-photo {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
      }

      .header-photo {
        margin-top: 0;
      }

      ul {
        margin-left: 0;
        margin-right: 0;
      }
}
