* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, p, li, form{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-left: 70px;
  margin-right: 70px;
}

.logo {
  position: absolute;
  width: 200px;
}

img {
  width: 100%;
  height: auto;
}

.background-photo {
  height: 200px;
  display: flex;
  justify-content: center;
  background: #2c2561;
  background: linear-gradient(180deg,rgba(44, 37, 97, 1) 0%, rgba(46, 46, 158, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #93c7df;
  position: sticky;
  top: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #63b1d7;
}

ul li a.active {
  background-color: #4197c0;
}

.main-background {
  overflow: auto;
}

.Photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 200px;
  width: 700px;
  resize: none;
}

@media (max-width: 730px) {
      textarea {
        width: 350px;
      }

      p {
        margin-left: 20px;
        margin-right: 20px;
      }
}
